.h1 {
  margin: 0;

  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
}

.h2 {
  margin-top: 3.125rem;
  margin-bottom: 1.25rem;

  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.875rem;
}

.h3 {
  margin: 0;

  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
}
