.input {
  padding: 0.5rem 1rem;

  color: var(--black);
  border: none;
  border-radius: .3125rem;
  outline-color: var(--primary);
  background-color: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);

  font-family: var(--font-family);
  font-size: 1rem;
  line-height: 1.375rem;
}

.input::placeholder {
  color: var(--gray);
}
