.filled svg {
  fill: var(--primary);
}

.star svg {
  margin-left: 5px;
}

.editable {
  cursor: pointer;
}

.ratingWrapper {
  position: relative;
}

.errorMessage {
  position: absolute;
  bottom: -1rem;
  left: 0;

  color: var(--red);

  font-size: 0.625rem;
}

.error svg {
  stroke: var(--red);
}
