.product {
  display: grid;
  grid-template-columns:
    [start] 70px [logoend] 30px [titlestart] calc(50% - 100px)
    [middle] 1fr [pricestart] auto [priceend] 40px [creditstart] auto [creditend] 40px [ratestart] auto [end];

  margin-top: 1.875rem;
  padding: 1.875rem;
}

.logo {
  grid-column: start / logoend;
  grid-row: 1 / span 2;
}

.title,
.tags {
  grid-column: titlestart / middle;
}

.price,
.priceTitle {
  grid-column: pricestart / priceend;

  white-space: nowrap;
}

.credit,
.creditTitle {
  grid-column: creditstart / creditend;

  white-space: nowrap;
}

.rating,
.rateTitle {
  grid-column: ratestart / end;

  white-space: nowrap;
}

.hr,
.description,
.actions {
  grid-column: start / end;
}

.feature {
  grid-column: start / middle;
}

.advBlock {
  grid-column: middle / end;
}

/* ------ */

.logo img {
  border-radius: 0.3125rem;
}

.title {
  align-self: flex-end;

  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.7rem;
}

.category {
  margin-top: 0.375rem;
}

.price,
.credit {
  align-self: flex-end;

  font-size: 1.25rem;
  line-height: 1.7rem;
}

.month {
  font-size: 0.875rem;
  line-height: 1.2rem;
}

.oldPrice {
  margin-left: 0.3125rem;
}

.rating {
  align-self: flex-end;
}

.priceTitle,
.creditTitle,
.rateTitle {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.2rem;
}

.description {
  margin-bottom: 1rem;

  line-height: 1.5rem;
}

.reviewButton {
  margin-left: 1.25rem;
}

.advBlock {
  font-size: 1rem;
  line-height: 1.375rem;
}

.advTitle {
  margin-bottom: 1rem;

  font-weight: 700;
}

.advantages {
  margin-bottom: 1.25rem;
  padding-left: 1rem;

  border-left: 2px solid var(--green);
}

.disadvantages {
  padding-left: 1rem;

  border-left: 2px solid var(--red);
}

/* Фичи */
.characteristics {
  display: grid;
  grid-template-columns: auto 1fr auto;

  align-items: baseline;
  gap: 0.625rem;

  padding-right: 3.75rem;

  font-size: 1rem;
  line-height: 2rem;
}

.characteristicsName {
  margin-right: 0.625rem;

  font-weight: 700;
}

.characteristicsDots {
  margin-bottom: 5px;

  border-bottom: 1px dashed var(--gray-light);
}

.closed {
  overflow: hidden;

  max-height: 0;
  padding: 0;
}

.opened {
  overflow: visible;

  max-height: 100%;
  padding: 1.875rem;
}

.rateTitle a {
  color: var(--primary);
}

/* Adaptive */
@media (max-width: 1320px) {
  .product {
    grid-template-columns: 70px 30px auto 40px auto 40px 1fr;
    grid-template-areas:
      'logo . title title title title title'
      'logo . tags tags tags tags tags'
      'price price price . credit . rating'
      'priceTitle priceTitle priceTitle . creditTitle . rateTitle'
      'hr hr hr hr hr hr hr'
      'description description description description description description description'
      'feature feature feature feature feature feature feature'
      'advBlock advBlock advBlock advBlock advBlock advBlock advBlock '
      'hr2 hr2 hr2 hr2 hr2 hr2 hr2'
      'actions actions actions actions actions actions actions ';
  }

  .logo {
    grid-area: logo;
  }

  .title {
    grid-area: title;
  }

  .tags {
    grid-area: tags;

    margin-bottom: 1.25rem;
  }

  .price {
    grid-area: price;
  }

  .credit {
    grid-area: credit;
  }

  .rating {
    grid-area: rating;
  }

  .priceTitle {
    grid-area: priceTitle;
  }

  .creditTitle {
    grid-area: creditTitle;
  }

  .rateTitle {
    grid-area: rateTitle;
  }

  .hr {
    grid-area: hr;
  }

  .description {
    grid-area: description;
  }

  .feature {
    grid-area: feature;

    margin-bottom: 1.25rem;
  }

  .advBlock {
    grid-area: advBlock;
  }

  .hr2 {
    grid-area: hr2;
  }

  .actions {
    grid-area: actions;
  }
}

@media (max-width: 640px) {
  .product {
    grid-template-columns: 70px 30px 1fr;
    grid-template-areas:
      'logo . title '
      'logo . tags '
      'priceTitle priceTitle price'
      'creditTitle creditTitle credit'
      'ratingTitle ratingTitle rating'
      'hr hr hr'
      'description description description'
      'feature feature feature'
      'advBlock advBlock advBlock'
      'hr2 hr2 hr2'
      'actions actions actions';
  }

  .price,
  .credit,
  .rating {
    margin-bottom: 0.625rem;
  }
}

@media (max-width: 480px) {
  .product {
    grid-template-columns: 1fr;
    grid-template-areas:
      'logo'
      'title'
      'tags'
      'price'
      'priceTitle'
      'credit'
      'creditTitle'
      'rating'
      'ratingTitle'
      'hr'
      'description'
      'feature'
      'advBlock'
      'hr2'
      'actions';
  }
}
