.reviewForm {
  display: grid;
  align-items: center;

  font-size: 0.875rem;
  line-height: 1.5rem;
  grid-template-columns: [start] auto 1fr auto [end];
  gap: 20px 30px;
}

.description,
.submit {
  grid-column: start / end;
}

.title {
  justify-self: left;
}

.info {
  margin-left: 0.9375rem;
}

.rating {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
}

.panel {
  position: relative;

  margin-top: 1.25rem;
  padding: 1.25rem;

  border-radius: 5px;
}

.success {
  background-color: var(--green-light);
}

.successTitle {
  font-weight: 700;
}

.error {
  background-color: var(--red-light);
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;

  cursor: pointer;
}

.error .close path {
  stroke: var(--red );
}

@media (max-width: 1100px) {
  .reviewForm {
    grid-template-columns: [start] 1fr 1fr [end];
  }

  .title {
    justify-self: normal;
  }

  .rating {
    grid-column: start / end;
  }
}

@media (max-width: 640px) {
  .reviewForm {
    grid-template-columns: [start] 1fr [end];
  }
}
